a {
	text-decoration: none;
	color: grey;
	padding: 10px;
	font-size: 25px;
	float: right;
}
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}
#header {
	padding: 10px;
	background-color: black;
	min-height: 7%
}
#b {
	padding: 10px;
	padding-bottom: 60px;
	height: 72%;
}
#body {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	padding: 20px;
}
#main {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 10% 80% 10%;
}
#nav {
	color: grey;
	background-color: black;
}
#border-top {
	background: linear-gradient(black, red);
	min-height: 1%;
	width: 100%;
}
#border-bottom {
	background: linear-gradient(red, black);
	min-height: 1%;
	width: 100%;
}
ul {
	list-style: none;
}
li {
	display: inline;
	padding: 10px;
	font-size: 25px;
	font-family: serif;
	align-items: right;
}
#logo {
	font-size: 35px;
}
#footer {
	position: absolute;		
	bottom: 0;
	width: 100%;
	height: 10%;
	background-color: black;
}
#LI-icon {
	position: absolute;
	display: block;
	right: 0px;
	width: 40px;
	padding: 1%;
}
#nav-dropdown{
	display: none;
	color: grey;
}
#head-photo {
	min-height: 30%;
	max-width: 50%;
	background-image: url('../images/conference-room-daytime-employees.jpg');
	background-size: cover;
	display: block;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 4px 8px grey;
}

@media only screen and (max-width: 768px){
	#LI-icon {
		width: 50px;
	}
	#nav {
		display: none;
	}

	#nav-dropdown{
		display: inline;
	}
/*	#nav-dropdown-list{
		display: inline;
	}
*/
	#toggle {
		/*width: 25%;
		height: 10%;*/
		color: grey;
		background-color: black;
		border: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		font-size: 25px;
		font-family: serif;
		text-align: center;
	}
	li a{
		display: block;
		text-align: center;
		width: 50%;
	}

}
