a {
	text-decoration: none;
	color: grey;
}
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}
#container {
	position: relative;
	width: 100%;
	height:100%;
}
#header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10px;
	background-color: black;
	min-height: 7%
}
#border-top {
	position: absolute;
	top: 10%;
	background: linear-gradient(black, red);
	min-height: 1%;
	width: 100%;
}
#b {
	position: absolute;
	top: 11%;
	width: 100%;
	min-height: 72%;
}
#border-bottom {
	position: absolute;
	width: 100%;
	bottom: 11%;
	background: linear-gradient(red, black);
	min-height: 1%;
}
#footer {
	position: absolute;		
	bottom: 0;
	width: 100%;
	min-height: 10%;
	background-color: black;
}
#main {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 10% 80% 10%;
}
#body {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	padding: 20px;
	overflow-y: auto;
	overflow-x: none; 
}
#nav {
	color: grey;
	background-color: black;
}
ul {
	list-style: none;
}
li {
	display: inline;
	padding: 10px;
	font-size: 25px;
	font-family: serif;
	align-items: right;
	float: right;
}
#logo {
	font-size: 35px;
}

#LI-icon {
	position: absolute;
	display: block;
	right: 0px;
	width: 40px;
	padding: 1%;
}

.nav-drop{
	display: none;
}
#head-photo {
	min-height: 30%;
	max-width: 50%;
	background-image: url('../images/conference-room-daytime-employees.jpg');
	background-size: cover;
	display: block;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 4px 8px grey;
}
table {
	width: 100%;
	display: none;
}
td {
	text-align: center;
	vertical-align: middle;
}
@media only screen and (max-width: 768px){
	#LI-icon {
		width: 50px;
	}
	#nav {
		display: none;
	}
	table {
		display: table;
	}
	#left-table{
		width: 25%;
	}
	#right-table{
		width: 25%;
	}
}
